.authPage {
  color: whitesmoke;
  position: absolute;
  top: calc(50% + 1.1rem);
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(63, 30, 101, 0.93);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px 1px black;
  padding: 2vh 0;
}

.authPage header {
  min-width: 85%;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.scaleHigher {
  transform: translate(-50%, -50%) scale(1.1);
}

.authPage h2 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.authPage h2.authOptionsHeader {
  margin-bottom: 1.3rem;
}

.authPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 1rem;
}
.authPage form > *:not(.submitBtn) {
  align-self: stretch;
}

.authPage label {
  position: relative;
  left: -30px;
}

.authPage input {
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px black solid;
  border-radius: 20% 10%;
  height: 2.2rem;
  font-size: 0.8rem;
}

.submitBtn {
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.755);
  margin-top: 1.3rem;
  padding: 0.3rem;
  width: 70%;
  cursor: pointer;
}

.authPage form button:hover {
  transition: background-color 0.2s;
  background-color: rgba(207, 190, 190, 0.755);
}

.authOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 0.5rem;
}

.authOptions button {
  width: max(16vw, 8rem);
  height: 6vh;
  cursor: pointer;
  background-color: rgba(223, 222, 222, 0.755);
  border: 2px solid black;
}

.authOptions button:hover {
  width: max(16vw, 8rem);
  height: 6vh;
  cursor: pointer;
  transition: background-color 0.1s;
  background-color: rgba(255, 255, 255, 0.755);
}

.authProviders {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.authProviders button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  text-align: center;
  padding-right: 4px;
}

.authProviderLogo {
  position: relative;
  top: 2px;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}

.OrText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.OrText span {
  display: block;
  border: 3px soild black;
}
.OrText hr {
  min-width: min(500%, 37vw);
}

.emailVerification {
  margin-bottom: 1rem;
}

.emailVerification h2 {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(255, 47, 47);
}

.redirectAuth {
  color: aliceblue;
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  padding: 4px 4rem 0 4rem;
}

.emailCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.emailCode label {
  left: 0;
}

.emailCode input {
  height: 1.9rem;
  width: 80%;
}

.emailCode span {
  cursor: pointer;
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

@media (max-width: 770px) {
  .authPage {
    transform: translate(-50%, -50%) scale(1);
    padding: 1rem 0 3rem 0;
    top: calc(50% + 2.9rem);
  }
}
