@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
body {
  font-family: "Libre Franklin";
  background: url("/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(169, 139, 164);
  min-height: 100%;
  min-width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
