.navbar {
  --bgColour: rgb(60, 52, 52);
  --hoverColour: rgb(206, 183, 183);
  background-color: var(--bgColour);
  color: whitesmoke;
  text-align: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  height: 2.7rem;
}

.navbarItems {
  height: 100%;
  display: flex;
  margin: 0 1em 0 1em;
  justify-content: space-between;
  align-items: center;
}

.navbarItems > ul {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6vw;
}

.navbarItems li {
  list-style: none;
  height: 40px;
  cursor: pointer;
}

.navbarItems * {
  display: inline;
  display: flex;
  align-items: center;
}

.navbar a {
  transition: color ease-in 0.1s;
  color: white;
  text-decoration: none;
}

.navbar img {
  cursor: pointer;
}

.search svg {
  cursor: pointer;
}
.navbar svg path {
  transition: fill ease-in 0.1s;
}

.navbar li:hover:not(.mediaReactIcon, .settingsReactIcon, .search) svg path {
  transition: fill ease-in 0.1s;
  fill: var(--hoverColour);
}
.navbar li:hover a {
  transition: color ease-in 0.1s;
  color: var(--hoverColour);
}

.mediaReactIcon svg path {
  transition: stroke ease-in 0.1s;
  fill: var(--bgColour);
  stroke: white;
}

.mediaReactIcon:hover svg path {
  transition: stroke ease-in 0.1s;
  stroke: var(--hoverColour);
  fill: var(--bgColour);
}

.settingsReactIcon svg path {
  transition: stroke ease-in 0.1s;
  fill: var(--bgColour);
  stroke: white;
}

.settingsReactIcon:hover svg path {
  transition: stroke ease-in 0.1s;
  stroke: var(--hoverColour);
  fill: var(--bgColour);
}

.search input {
  width: max(18vw, 5.5rem);
}

.userAvatar img {
  border-radius: 50%;
}

@media (min-width: 790px) {
  .search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 790px) {
  .navbarItems > ul {
    gap: 3vw;
  }
}

@media (max-width: 645px) {
  .search input {
    width: 7rem;
  }
  .navbarItems .itemTitle {
    display: none;
  }
}

@media (max-width: 400px) {
  .search {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbarItems > ul {
    gap: 5vw;
  }
}

.active a {
  color: var(--hoverColour);
}

.active:not(.mediaReactIcon, .settingsReactIcon, .search) svg path {
  fill: var(--hoverColour);
}

.mediaReactIcon.active svg path {
  stroke: var(--hoverColour);
  fill: var(--bgColour);
}

.settingsReactIcon.active svg {
  stroke: var(--hoverColour);
  fill: var(--bgColour);
}
